-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: nexus_games
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `gry`
--

DROP TABLE IF EXISTS `gry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gry` (
  `id_gry` int(11) NOT NULL AUTO_INCREMENT,
  `tytul` varchar(100) NOT NULL,
  `opis` text DEFAULT NULL,
  `cena` decimal(6,2) NOT NULL,
  `rozmiar_gb` decimal(5,2) DEFAULT NULL,
  `wymagania` text DEFAULT NULL,
  `data_premiery` date DEFAULT NULL,
  PRIMARY KEY (`id_gry`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `koszyk`
--

DROP TABLE IF EXISTS `koszyk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `koszyk` (
  `id_wpisu` int(11) NOT NULL AUTO_INCREMENT,
  `id_uzytkownika` int(11) DEFAULT NULL,
  `id_gry` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_wpisu`),
  KEY `id_uzytkownika` (`id_uzytkownika`),
  KEY `id_gry` (`id_gry`),
  CONSTRAINT `koszyk_ibfk_1` FOREIGN KEY (`id_uzytkownika`) REFERENCES `uzytkownicy` (`id_uzytkownika`),
  CONSTRAINT `koszyk_ibfk_2` FOREIGN KEY (`id_gry`) REFERENCES `gry` (`id_gry`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `koszyki`
--

DROP TABLE IF EXISTS `koszyki`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `koszyki` (
  `id_koszyka` int(11) NOT NULL AUTO_INCREMENT,
  `id_uzytkownika` int(11) NOT NULL,
  `id_gry` int(11) NOT NULL,
  PRIMARY KEY (`id_koszyka`),
  UNIQUE KEY `unik` (`id_uzytkownika`,`id_gry`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `licencje`
--

DROP TABLE IF EXISTS `licencje`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licencje` (
  `id_licencji` int(11) NOT NULL AUTO_INCREMENT,
  `id_uzytkownika` int(11) DEFAULT NULL,
  `id_gry` int(11) DEFAULT NULL,
  `data_zakupu` datetime DEFAULT current_timestamp(),
  `czas_gry_min` int(11) DEFAULT 0,
  `ostatnio_uruchamiana` datetime DEFAULT NULL,
  `status_instalacji` bit(1) DEFAULT b'0',
  PRIMARY KEY (`id_licencji`),
  KEY `id_uzytkownika` (`id_uzytkownika`),
  KEY `id_gry` (`id_gry`),
  CONSTRAINT `licencje_ibfk_1` FOREIGN KEY (`id_uzytkownika`) REFERENCES `uzytkownicy` (`id_uzytkownika`),
  CONSTRAINT `licencje_ibfk_2` FOREIGN KEY (`id_gry`) REFERENCES `gry` (`id_gry`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `recenzje`
--

DROP TABLE IF EXISTS `recenzje`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recenzje` (
  `id_recenzji` int(11) NOT NULL AUTO_INCREMENT,
  `id_uzytkownika` int(11) DEFAULT NULL,
  `id_gry` int(11) DEFAULT NULL,
  `ocena` int(11) DEFAULT NULL,
  `tresc_opinii` varchar(500) DEFAULT NULL,
  `data_dodania` date DEFAULT curdate(),
  PRIMARY KEY (`id_recenzji`),
  KEY `id_uzytkownika` (`id_uzytkownika`),
  KEY `id_gry` (`id_gry`),
  CONSTRAINT `recenzje_ibfk_1` FOREIGN KEY (`id_uzytkownika`) REFERENCES `uzytkownicy` (`id_uzytkownika`),
  CONSTRAINT `recenzje_ibfk_2` FOREIGN KEY (`id_gry`) REFERENCES `gry` (`id_gry`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `uzytkownicy`
--

DROP TABLE IF EXISTS `uzytkownicy`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `uzytkownicy` (
  `id_uzytkownika` int(11) NOT NULL AUTO_INCREMENT,
  `nick` varchar(30) NOT NULL,
  `email` varchar(50) NOT NULL,
  `haslo_hash` varchar(255) NOT NULL,
  `saldo_portfela` decimal(10,2) DEFAULT 0.00,
  `data_rejestracji` date DEFAULT curdate(),
  `rola` varchar(20) DEFAULT 'gracz',
  PRIMARY KEY (`id_uzytkownika`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `zamowienia`
--

DROP TABLE IF EXISTS `zamowienia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `zamowienia` (
  `id_zamowienia` int(11) NOT NULL AUTO_INCREMENT,
  `id_uzytkownika` int(11) DEFAULT NULL,
  `data_zamowienia` datetime DEFAULT current_timestamp(),
  `kwota_laczna` decimal(10,2) NOT NULL,
  `metoda_platnosci` varchar(20) DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id_zamowienia`),
  KEY `id_uzytkownika` (`id_uzytkownika`),
  CONSTRAINT `zamowienia_ibfk_1` FOREIGN KEY (`id_uzytkownika`) REFERENCES `uzytkownicy` (`id_uzytkownika`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-08 15:45:12
