-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: nexus_games
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `gry`
--

DROP TABLE IF EXISTS `gry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gry` (
  `id_gry` int(11) NOT NULL AUTO_INCREMENT,
  `tytul` varchar(100) NOT NULL,
  `opis` text DEFAULT NULL,
  `cena` decimal(6,2) NOT NULL,
  `rozmiar_gb` decimal(5,2) DEFAULT NULL,
  `wymagania` text DEFAULT NULL,
  `data_premiery` date DEFAULT NULL,
  PRIMARY KEY (`id_gry`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gry`
--

LOCK TABLES `gry` WRITE;
/*!40000 ALTER TABLE `gry` DISABLE KEYS */;
INSERT INTO `gry` VALUES (1,'Cyberpunk 2077','RPG akcji w otwartym ┼Ťwiecie Night City.',149.99,70.00,'Windows 10, Core i7, 16GB RAM, RTX 2060','2020-12-10'),(2,'EA SPORTS FC 26','Najpopularniejsza gra pi┼ékarska na ┼Ťwiecie.',249.90,50.00,'Windows 10, Core i5, 8GB RAM, GTX 1660','2025-09-22'),(3,'Avatar: Frontiers of Pandora','Przygoda FPP w niesamowitym ┼Ťwiecie.',199.00,90.00,'Windows 11, Ryzen 5, 16GB RAM, RX 6700 XT','2023-12-07');
/*!40000 ALTER TABLE `gry` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `koszyki`
--

DROP TABLE IF EXISTS `koszyki`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `koszyki` (
  `id_koszyka` int(11) NOT NULL AUTO_INCREMENT,
  `id_uzytkownika` int(11) NOT NULL,
  `id_gry` int(11) NOT NULL,
  PRIMARY KEY (`id_koszyka`),
  UNIQUE KEY `unik` (`id_uzytkownika`,`id_gry`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `koszyki`
--

LOCK TABLES `koszyki` WRITE;
/*!40000 ALTER TABLE `koszyki` DISABLE KEYS */;
INSERT INTO `koszyki` VALUES (1,1,2);
/*!40000 ALTER TABLE `koszyki` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licencje`
--

DROP TABLE IF EXISTS `licencje`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licencje` (
  `id_licencji` int(11) NOT NULL AUTO_INCREMENT,
  `id_uzytkownika` int(11) DEFAULT NULL,
  `id_gry` int(11) DEFAULT NULL,
  `data_zakupu` datetime DEFAULT current_timestamp(),
  `czas_gry_min` int(11) DEFAULT 0,
  `ostatnio_uruchamiana` datetime DEFAULT NULL,
  `status_instalacji` bit(1) DEFAULT b'0',
  PRIMARY KEY (`id_licencji`),
  KEY `id_uzytkownika` (`id_uzytkownika`),
  KEY `id_gry` (`id_gry`),
  CONSTRAINT `licencje_ibfk_1` FOREIGN KEY (`id_uzytkownika`) REFERENCES `uzytkownicy` (`id_uzytkownika`),
  CONSTRAINT `licencje_ibfk_2` FOREIGN KEY (`id_gry`) REFERENCES `gry` (`id_gry`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licencje`
--

LOCK TABLES `licencje` WRITE;
/*!40000 ALTER TABLE `licencje` DISABLE KEYS */;
INSERT INTO `licencje` VALUES (1,1,1,'2026-06-08 14:18:28',0,NULL,_binary '\0');
/*!40000 ALTER TABLE `licencje` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recenzje`
--

DROP TABLE IF EXISTS `recenzje`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recenzje` (
  `id_recenzji` int(11) NOT NULL AUTO_INCREMENT,
  `id_uzytkownika` int(11) DEFAULT NULL,
  `id_gry` int(11) DEFAULT NULL,
  `ocena` int(11) DEFAULT NULL,
  `tresc_opinii` varchar(500) DEFAULT NULL,
  `data_dodania` date DEFAULT curdate(),
  PRIMARY KEY (`id_recenzji`),
  KEY `id_uzytkownika` (`id_uzytkownika`),
  KEY `id_gry` (`id_gry`),
  CONSTRAINT `recenzje_ibfk_1` FOREIGN KEY (`id_uzytkownika`) REFERENCES `uzytkownicy` (`id_uzytkownika`),
  CONSTRAINT `recenzje_ibfk_2` FOREIGN KEY (`id_gry`) REFERENCES `gry` (`id_gry`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recenzje`
--

LOCK TABLES `recenzje` WRITE;
/*!40000 ALTER TABLE `recenzje` DISABLE KEYS */;
INSERT INTO `recenzje` VALUES (1,1,1,5,'Najlepsza gra w jak─ů gra┼éem, Night City wygl─ůda ob┼é─Ödnie.','2026-06-08'),(2,1,2,4,'Mechanika w porz─ůdku, ale serwery EA czasem przerywaj─ů mecz.','2026-06-08'),(3,1,3,5,'Wizualne arcydzie┼éo. Bardzo wci─ůgaj─ůca i satysfakcjonuj─ůca eksploracja.','2026-06-08');
/*!40000 ALTER TABLE `recenzje` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `uzytkownicy`
--

DROP TABLE IF EXISTS `uzytkownicy`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `uzytkownicy` (
  `id_uzytkownika` int(11) NOT NULL AUTO_INCREMENT,
  `nick` varchar(30) NOT NULL,
  `email` varchar(50) NOT NULL,
  `haslo_hash` varchar(255) NOT NULL,
  `saldo_portfela` decimal(10,2) DEFAULT 0.00,
  `data_rejestracji` date DEFAULT curdate(),
  `rola` varchar(20) DEFAULT 'gracz',
  PRIMARY KEY (`id_uzytkownika`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `uzytkownicy`
--

LOCK TABLES `uzytkownicy` WRITE;
/*!40000 ALTER TABLE `uzytkownicy` DISABLE KEYS */;
INSERT INTO `uzytkownicy` VALUES (1,'konrad.pyska','konrad.pyska@wp.pl','$2b$12$xYCI.0/q/KyTl8qSNd/35emr6KJAo/g2mMhsG/Bp7AljJONN0bljO',0.00,'2026-06-08','admin'),(2,'test1','test1@wp.pl','$2b$12$M8Hi7Dp0gQHz5PkH25KGWOlV6WYcz6fRUCj774CIMuWbjYEou15e6',0.00,'2026-06-08','user');
/*!40000 ALTER TABLE `uzytkownicy` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `zamowienia`
--

DROP TABLE IF EXISTS `zamowienia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `zamowienia` (
  `id_zamowienia` int(11) NOT NULL AUTO_INCREMENT,
  `id_uzytkownika` int(11) DEFAULT NULL,
  `data_zamowienia` datetime DEFAULT current_timestamp(),
  `kwota_laczna` decimal(10,2) NOT NULL,
  `metoda_platnosci` varchar(20) DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id_zamowienia`),
  KEY `id_uzytkownika` (`id_uzytkownika`),
  CONSTRAINT `zamowienia_ibfk_1` FOREIGN KEY (`id_uzytkownika`) REFERENCES `uzytkownicy` (`id_uzytkownika`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `zamowienia`
--

LOCK TABLES `zamowienia` WRITE;
/*!40000 ALTER TABLE `zamowienia` DISABLE KEYS */;
INSERT INTO `zamowienia` VALUES (1,1,'2026-06-08 14:18:28',149.99,'Portfel','Zako┼äczone');
/*!40000 ALTER TABLE `zamowienia` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-08 17:17:40
